<footer class="row ">
	<div class="row footer-main">

		<!-- First Footer Section -->
		<div class="four columns" style="padding:12px;"">
			<h3>Contact us</h3>
			<address>
				<p><a style="font-family:Yanone;font-weight:normal;text-decoration:underline;font-size:1.65em">Joy Project</a></p>
				<p>
					<span> 348 East Main St.</span><br>
					<span> Lexington,</span>
					<span> KY</span>
					<span> 40507</span>
				</p>
				<span id="footer-email"><a href="mailto:founders@continuousjoy.org">founders@continuousjoy.org</a></span><br />
			</address>
		</div>


		<!-- Second Footer Section -->
		<div class="four columns">
			<h3>Get involved</h3>
			<ul class="footer-list">
				<li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=AEGA6GRPJJWEC&lc=US&item_name=Joy%20Project%20-%20Donation&item_number=1001&currency_code=USD&bn=PP-DonationsBF%3abtn_donateCC_LG%2egif%3aNonHosted">Donate to the Joy Project</a></li>
				<li><a href="https://docs.google.com/forms/d/1LayyhkvkaTxxx2CW74PC6KRhwSlX0uYp9ZEHMQvDLAw/viewform" target="_blank">Subscribe to Updates</a></li>
			</ul>
		</div>


		<!-- Third Footer Section -->
		<div class="four columns">
			<h3>Submit Your Joy Project Ideas</h3>
			<div>
				<span>
					Know someone in need of Joy? Tell us all about it and we can put it in motion for you.
				</span>
				<div style="padding:12px;">
					<div class="footer-button"><a href="https://docs.google.com/a/g.uky.edu/forms/d/1ui-GKUTxbJduFx_a2xHMt8hN5Ns-70wlT288kiNMuC8/viewform" style="padding:5px; font-weight:bold; border:2px solid white" target="_blank">Submit your Nomination</a>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Very Bottom of Page -->
	<div class="row footer-bottom">
		<!-- CopyRight -->
		<div class="four columns">
			<p>Copyright ©  2017. Joy Project.  All Rights Reserved.</p>
		</div>

		<!-- Designed By -->
		<div class="four columns">
			<p>Designed by <a>Melanie Stoeckle</a></p>
		</div>

		<!-- Developed By -->
		<div class="four columns">
			<p>Developed by <a href="https://brenthompson2.github.io" style="text-decoration:none; color:#fff;" target="_blank">Brendan Thompson</a></p>
		</div>
	</div>

</footer>