<div class="row homepage-container">

	<div class="homepage-title">
		<h3>How it Works</h3>
	</div>

	<div class="how-it-works-section">
		<p>It’s a three step process:<br />

			<strong>Step 1:</strong> Friends of the Joy Project "<a href="https://docs.google.com/a/g.uky.edu/forms/d/1ui-GKUTxbJduFx_a2xHMt8hN5Ns-70wlT288kiNMuC8/viewform" target= "_blank">nominate</a>" someone they know who is in need of extra support at any time.<br />

			<strong>Step 2:</strong> Members of the Joy Project devise a plan to help this someone and cover any costs involved using Joy Project funds.<br />

			<strong>Step 3:</strong>  Friends of the Joy Project unite and set out to spread the Joy!
		</p>
	</div>
</div>
