<div class="row">

	<div class="homepage-header">
		<h3>Our Mission</h3>
	</div>

	<div class="mission-section">
		<p>The Joy Project is a charity foundation that was founded in 2013 to better the lives of people in our community.  It was inspired by a sermon at Southland Christian Church that emphasized the difference between moments of happiness and continuous joy. <br/><br/> We believe that in order to achieve continuous joy one needs to unselfishly create joy for those around them. The Joy Project assists local members of the community through acts of kindness.</p>
	</div>
</div>
