<div class="row">

    <!-- Logo -->
    <div class="one columns nav-logo">
        <img src="/assets/img/logos/Joy_Logo_FINAL.jpg" alt="Continuous Joy Logo" style="margin-top: 10px;">
    </div>

    <!-- Title -->
    <div class="two columns">
        <h1>Creating Continuous Joy</h1>
    </div>

    <!-- Empty Space Holder -->
    <div class="five columns">
    </div>

    <!-- Home -->
    <div class="one columns">
        <a href="{{ site.url }}">Home</a>
    </div>

    <!-- Donate -->
    <div class="one columns">
        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=AEGA6GRPJJWEC&lc=US&item_name=Joy%20Project%20%2d%20Donation&item_number=1001&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHosted" target="_blank">Donate</a>
    </div>

    <!-- Our Stories -->
    <div class="two columns">
        <a href="{{ site.url }}/Projects">Our Stories</a>
    </div>
</div>