<div class="row">

  <div class="homepage-title">
    <h3>Latest Stories</h3>
  </div>

  <ul class="post-display">
  	{% for post in site.posts %}
    <li class="row">
        <div class="six columns">
          <img src="{{ site.url }}{{ post.sliderImage }}" alt="{{ post.imageAlt }}">
        </div>

        <div class="six columns">
          <h5><a href="{{ site.url }}{{ post.permalink }}">{{ post.title }}</a></h5>

          <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time>
          <p>{{ post.excerpt }}</p>
        </div>
    </li>
    {% endfor %}
  </ul>

</div>
