---
# Main Sass Stylesheet for Continuous Joy Project
# Created by Brendan Thompson
# Built off the Design by Melanie Stoeckle and Huu Nguyen
---

// =====================================
// Contents:
// 	- Style For All Pages (Nav & Footer)
// 	- Style For Home Page
// 	- Style For Posts Display
//	- Style For Within Actual Posts
// =====================================


// =====================================
// Style For All Pages (NavBar & Footer)
// =====================================

.nav-logo {
  img {
    width: 100%;
    height: auto;
  }
}

// =====================================
// Style For Home Page
// =====================================

.homepage-header {
  text-align: center;
  h3 {
    font-family: Yanone;
    font-weight: bold;
    font-size: 4em;
    margin-bottom: -20px;
    margin-top: -50px;
    vertical-align: bottom;
  }
}

.mission-section {
  background: #e53b51;
  border-radius: 5px;
}

.how-it-works-section {
  text-align: center;
  background: #e53b51;
  h3 {
    font-family: Yanone;
    font-weight: bold;
    font-size: 4em;
    margin-bottom: -20px;
    margin-top: -50px;
    vertical-align: bottom;
  }
  div {
    border-radius: 5px;
  }
}

#header-image {
	display: block;
	width: 75.8%;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-top: 50px;
	margin-left: 12.1%;
	margin-bottom: -5.2em;
	height: 100%;
}

#header-phrase {
  position: absolute;
  margin-left: 31%;
  margin-top: 26.5%;
  padding-left: 7px;
  padding-right: 7px;
  color: white;
  background-color: rgba(229, 59, 81, 0.8);
  display:inline-block;
  border-radius: 1px;
  font-size: 40px;
  font-family: Yanone;
}

// =====================================
// Style For Posts Display
// =====================================

.post-display {
  margin: 40px auto;
  img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  iframe {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  h5 {
    margin: 0;
  }
  li {
    list-style-type: none;
    margin-left: 0;
    // color: $main;
    font-size: 1.1rem;
  }
  p {
    margin-right: 5px;
    // color: $mainAnalogous1;
  }
}

// =====================================
// Style For Within Actual Posts
// =====================================