---
# Main Sass Stylesheet for Continuous Joy Project
# Created by Brendan Thompson
# Built off the Design by Melanie Stoeckle and Huu Nguyen
---

// =====================================
// Contents:
//  - Fonts
// 	- Style For NavBar
//  - Style For Footer
// 	- Style For Home Page
// 	- Style For Posts Display
//	- Style For Within Actual Posts
// =====================================


/* Custom Font-Styles */
@font-face { font-family: Yanone; src: url('css/font/YanoneKaffeesatzOTF/YanoneKaffeesatz-Regular.otf'); }
@font-face { font-family: Yanone; font-weight: bold; src: url('css/font/YanoneKaffeesatzOTF/YanoneKaffeesatz-Bold.otf'); }
@font-face { font-family: Yanone-Light; src: url('css/font/YanoneKaffeesatzOTF/YanoneKaffeesatz-Light.otf'); }
@font-face { font-family: Yanone-Thin; src: url('css/font/YanoneKaffeesatzOTF/YanoneKaffeesatz-Thin.otf'); }
@font-face { font-family: Sketch; src: url('css/font/SketchSerif.otf'); }


// =====================================
// Style For NavBar
// =====================================

nav.primary {
  clear: both;
  overflow: hidden;
  margin: 0 0 1.5em;
  padding: 0px;
  position: fixed;
  top:0px;
  left:0px;
  width: 100%;
  z-index: 99;
  max-height: 8em;
  background: #333333;
  img {
    margin-left: 20px;
    width: 100px;
    height: auto;
  }
  h1 {
    font-size: 2.5em;
    color: #fff;
    margin-top: -85px;
    margin-left: 130px;
    position: fixed;
    font-family: Yanone;
  }
}

nav.primary ul {
  list-style-type: none;
  float: right;
  padding: 2.7em 0 0 0;
  margin: 0;
  font-size: 1.7em;
  font-family: Yanone, 'Archivo Narrow', sans-serif;
  text-transform: uppercase;
  li {
    position: relative;
    display: inline-block;
    padding: 0px 0 10px 0;
    margin-left: 10px;
  }
  li:hover {
    border-bottom: 4px solid #e9e9e9;
  }
  a {
    padding:5px;
    text-decoration: none;
    color: #fff;
    -webkit-transition: border .5s ease-out;
  }
  a.hover {
    border-bottom: 4px solid #e9e9e9;
    cursor: pointer;
  }
}

// =====================================
// Style For Footer
// =====================================

.footer-main {
  font-family: Yanone-Light;
  font-size: 19px;
  background-color: rgb(229, 59, 81);
  span {
    font-size: 20px;
    color: #fff;
  }
  h3 {
    font-family: Yanone;
    font-size:1.5em;
    padding: 14px 14px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    letter-spacing: 0.08em;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
}

#footer-email {
  font-weight: bold;
}

.footer-list {
  list-style: none;
  color: #fff;
  text-decoration: none;
  li {
    padding: 12px;
    margin: 0px;
    background: transparent url('/assets/img/design/border-underline.png') left bottom repeat-x;
    color: #fff;
  }
  li:before {
    content:"⟩";
    padding-right: 12px;
  }
  li:hover {
    background: #fff;
    color: #e53b51;
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration:0.5s;
    -moz-animation-duration:0.5s;
    -ms-animation-duration:0.5s;
    -o-animation-duration:0.5s;
    animation-duration:0.5s;
  }
  li:hover a {
    color: #e53b51;
  }
}

// Submit your Nomination Button
.footer-button {
  a {
    color: #ffeef0;
    border: 1px solid #e53b51;
    padding: 6px 12px;
    text-transform: uppercase;
    text-decoration: none;
  }
  a:hover {
    background: #e53b51;
    color: #fff;
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration:0.5s;
    -moz-animation-duration:0.5s;
    -ms-animation-duration:0.5s;
    -o-animation-duration:0.5s;
    animation-duration:0.5s;
  }
}

// Bottom-most bar with Copyright, Designer, and Developer
.footer-bottom {
  background-color: #333333;
  padding: 14px 14px;
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  letter-spacing: 0.08em;
}

// =====================================
// Style For Home Page
// =====================================

.homepage-container {
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.header-container {
  text-align: center;
}

#header-image {
  width: 75%;
  height: auto;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: hidden;
}

#header-phrase-container {
  // width: 100%;
  // text-align: center;
}

#header-phrase {
  position: absolute;
  width:20%;
  top: calc(50% - 40px); //40px is font size
  text-align: center;
  padding-left: 7px;
  padding-right: 7px;
  color: white;
  background-color: rgba(229, 59, 81, 0.8);
  font-size: 40px;
  font-family: Yanone;
}

// Title Heading For Each Section
.homepage-title {
  text-align: center;
  background: transparent url("/assets/img/design/header-line.png") repeat-x 0 60%;
  margin-bottom: 24px;
  h3 {
    background: #fff;
    display: inline-block;
    padding-right: 12px;
    padding-left: 12px;
    font-family: Yanone;
    font-weight: bold;
    font-size: 4em;
    margin-bottom: -20px;
    margin-top: -50px;
    vertical-align: bottom;
  }
}

.mission-section {
  background: #e53b51;
  border-radius: 5px;
  margin-left: 5%;
  margin-right: 5%;
  p {
    color: #fff;
    padding: 15px;
    padding-left: 30px;
    text-align: left;
    font-size: 1.9em;
    font-family: Yanone, Gill Sans, Verdana;
  }
}

.how-it-works-section {
  background-color: rgba(120,120,120,0.1);
  padding: 2em;
  border-radius: 10px;
  margin-left: 5%;
  margin-right: 5%;
  p {
    color: black;
    padding: 15px;
    padding-left: 30px;
    text-align: left;
    font-size: 1.9em;
    font-family: Yanone, Gill Sans, Verdana;
  }
  strong, a {
    color: #e53b51;
  }
}

// =====================================
// Style For Posts Display
// =====================================

.post-display {
  // margin: 40px auto;
  margin-left: 5%;
  margin-right: 5%;
  div {
    height: 30%;
  }
  img {
    max-width: 50%;
    height: auto;
    border-radius: 5px;
  }
  iframe {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  h5 {
    margin: 0;
  }
  li {
    list-style-type: none;
    margin-left: 0;
    // color: $main;
    font-size: 1.1rem;
  }
  p {
    margin-right: 5px;
    // color: $mainAnalogous1;
  }
}

// =====================================
// Style For Within Actual Posts
// =====================================

.post-title {
  font-family: Yanone;
  font-weight: bold;
  color: #e53b51;
  font-size: 3.0em;
  margin-top: 40px;
}

.post-image {
  width: 100%;
  height:auto;
  margin-bottom: 20px;
}

.post-content {
  display: block;
  font-size: 22px;
}