<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- StyleSheets -->
  	<link rel="stylesheet" href="/assets/css/main.css">
  	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" href="/assets/css/ideal-image-slider.css">

    {% include slider_styles.html %}

  </head>

  <body>
    <link rel="stylesheet" href="/assets/css/ideal-image-slider.css">

    {% include nav.html %}

    <br>
    <br>
    <br>
    <br>

    {{ content }}

    {% include footer.html %}

    {% include slider_scripts.html %}


    <!-- Google Analytics JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<!-- <script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-2028878-9']);
	  _gaq.push(['_setDomainName', 'awesomeinc.org']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script> -->
  </body>
</html>
